.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-next {
	font-size:calc(17/10)*1rem;
	width:calc(20/17)*1em;
}
.icon-plus {
	font-size:calc(18/10)*1rem;
	width:calc(18/18)*1em;
}
.icon-prev {
	font-size:calc(17/10)*1rem;
	width:calc(20/17)*1em;
}
.icon-tg {
	font-size:calc(22/10)*1rem;
	width:calc(24/22)*1em;
}
.icon-vk {
	font-size:calc(19/10)*1rem;
	width:calc(33/19)*1em;
}
.icon-wa {
	font-size:calc(24/10)*1rem;
	width:calc(24/24)*1em;
}
